# Go build artifacts
/bin/
/build/
/log-agent

# Dependency files
vendor/
/go.sum

# Editor & OS files
*.swp
*.swo
.idea/
.vscode/
.DS_Store

# Logs & temp files
/logs/
*.log
*.out
*.tmp

# Docker artifacts
docker-compose.override.yml
*.tar
dist/
